In [1]:
import pandas as pd
import os

In [2]:
# Files to load

student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [3]:
# Read the student data file and store it in a Pandas DataFrame.

student_data_df = pd.read_csv(student_data_to_load)

student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
# Put the student names in a list.

student_names = student_data_df["student_name"].tolist()

student_names[0:5]

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Dr. Richard Scott',
 'Bonnie Ray']

In [10]:
# Split the student name and determine the length of the split name.
#for name in student_names:
#    print(name.split(), len(name.split()))

In [11]:
# Create a new list and use it for the for loop to iterate through the list.

students_to_fix = []

# Use an if statement to check the length of the name.
# If the name is greater than or equal to "3", add the name to the list.

for name in student_names:
    
    if len(name.split()) >= 3:
        
        students_to_fix.append(name)

# Get the length of the students whose names are greater than or equal to "3".

len(students_to_fix)

1531

In [14]:
# Add the prefixes less than or equal to 4 to a new list.

prefixes = []

for name in students_to_fix:
    
    if len(name.split()[0]) <= 4:
        
        prefixes.append(name.split()[0])

        
print(prefixes[0:5])

['Dr.', 'Dr.', 'Mr.', 'Dr.', 'Miss']

In [16]:
# Add the suffixes less than or equal to 3 to a new list.

suffixes = []

for name in students_to_fix:
    
    if len(name.split()[-1]) <= 3:
        
        suffixes.append(name.split()[-1])


print(suffixes[0:5])

['MD', 'MD', 'MD', 'III', 'DVM']

In [17]:
# Get the unique items in the "prefixes" list.

set(prefixes)

{'Adam',
 'Amy',
 'Anna',
 'Anne',
 'Carl',
 'Chad',
 'Cody',
 'Cory',
 'Dale',
 'Dana',
 'Dawn',
 'Dr.',
 'Emma',
 'Eric',
 'Erik',
 'Erin',
 'Gail',
 'Gary',
 'Gina',
 'Greg',
 'Ian',
 'Jill',
 'Jodi',
 'Joe',
 'John',
 'Jon',
 'Jose',
 'Judy',
 'Kara',
 'Kari',
 'Kim',
 'Kyle',
 'Leah',
 'Lisa',
 'Lori',
 'Luke',
 'Lynn',
 'Marc',
 'Mark',
 'Mary',
 'Mike',
 'Miss',
 'Mr.',
 'Mrs.',
 'Ms.',
 'Noah',
 'Omar',
 'Paul',
 'Ruth',
 'Ryan',
 'Sara',
 'Sean',
 'Seth',
 'Tara',
 'Tina',
 'Todd',
 'Toni',
 'Tony',
 'Troy'}

In [18]:
# Get the unique items in the "suffixes" list.

set(suffixes)

{'Cox',
 'DDS',
 'DVM',
 'Day',
 'II',
 'III',
 'IV',
 'Jr.',
 'Kim',
 'Lee',
 'Li',
 'MD',
 'PhD',
 'Roy',
 'V'}

In [19]:
# Add each prefix and suffix to remove to a list.

prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

In [20]:
# Iterate through the "prefixes_suffixes" list and replace them with an empty space, "" when it appears in the student's name.

for word in prefixes_suffixes:
    
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

In [21]:
student_data_df.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [23]:
# Put the cleaned students' names in another list.

student_names = student_data_df["student_name"].tolist()

student_names[0:5]

['Paul Bradley',
 'Victor Smith',
 'Kevin Rodriguez',
 'Richard Scott',
 'Bonnie Ray']

In [24]:
# Create a new list and use it for the for loop to iterate through the list.

students_fixed = []

# Use an if statement to check the length of the name.

# If the name is greater than or equal to 3, add the name to the list.

for name in student_names:
    
    if len(name.split()) >= 3:
        
        students_fixed.append(name)

# Get the length of the students' names that are greater than or equal to 3.

len(students_fixed)

151

In [25]:
students_fixed

['Joseph Morales III',
 'Xavier Bell II',
 'David Miller Jr.',
 'Reginald Garcia IV',
 'Kevin Brown IV',
 'William Washington Jr.',
 'Juan Bryant II',
 'Kenneth Paul Jr.',
 'Scott Rivers III',
 'Mark Myers Jr.',
 'Michael Norton Jr.',
 'Sean Pena Jr.',
 'Cody Mueller Jr.',
 'Mathew White Jr.',
 'Jason Daugherty Jr.',
 'Leonard Webster II',
 'Michael Stein Jr.',
 'Ryan Phillips Jr.',
 'Allen Snyder Jr.',
 'Calvin Williams Jr.',
 'Ronald Torres Jr.',
 'Gabriel Smith III',
 'Brian Pitts Jr.',
 'Bruce Thompson II',
 'Jeremy Sanders II',
 'Austin Johnson II',
 'Bryan Conway Jr.',
 'Ronald Moore II',
 'Robert Garrison IV',
 'William Gonzalez Jr.',
 'Brian Matthews Jr.',
 'Eric Richards Jr.',
 'Kenneth Munoz Jr.',
 'Jon Delgado Jr.',
 'Andrew English Jr.',
 'Raymond Cox Jr.',
 'Jeffrey Mcclain Jr.',
 'Brian Poole V',
 'Jeffrey Kim II',
 'Matthew Alexander Jr.',
 'Kevin Reynolds Jr.',
 'Jacob Skinner Jr.',
 'Dennis Gibson Jr.',
 'Jimmy Shea Jr.',
 'James Reed Jr.',
 'Jeffery Baker Jr.',
 'Derrick Hughes III',
 'Joshua Rivera Jr.',
 'Timothy Guzman Jr.',
 'Lonnie Allen II',
 'Tyrone Clark III',
 'Jeffrey Nelson Jr.',
 'Michael Mann II',
 'David Johnson Jr.',
 'Timothy Chavez Jr.',
 'Brian Powell III',
 'Lance Rangel Jr.',
 'Noah Herrera Jr.',
 'Eric Johnson Jr.',
 'Victor Chavez II',
 'Richard Ellis Jr.',
 'Charles Goodman Jr.',
 'Michael Singh Jr.',
 'Jonathan Smith Jr.',
 'Allen Morris Jr.',
 'Aaron Solis Jr.',
 'Daniel Mckinney Jr.',
 'Christopher Petty Jr.',
 'Michael Garcia Jr.',
 'Charles Short II',
 'Derek Barker Jr.',
 'Zachary Garrett III',
 'Thomas Harrison Jr.',
 'Andrew Mitchell V',
 'Aaron Davis Jr.',
 'Brian Bailey Jr.',
 'Jeremiah Morris IV',
 'David Morales Jr.',
 'Larry Chandler Jr.',
 'James Clark II',
 'Cameron Roman Jr.',
 'Christopher Smith Jr.',
 'Todd Grant Jr.',
 'Kenneth Avila Jr.',
 'Jason Lopez Jr.',
 'Dwayne Mathis Jr.',
 'Colton Collins II',
 'Chris Palmer III',
 'Tyler Randall Jr.',
 'Joseph Morgan IV',
 'Carlos Adkins Jr.',
 'Mark Livingston Jr.',
 'Michael Williams III',
 'Eric Evans III',
 'Christopher Thornton Jr.',
 'Adam Hayes III',
 'Michael Moore Jr.',
 'Joseph Hudson II',
 'William Brooks Jr.',
 'Daniel Welch II',
 'Roger Horton Jr.',
 'Cory Marshall II',
 'Joshua Thompson Jr.',
 'Jon Flores II',
 'Philip Jones Jr.',
 'Greg Joyce Jr.',
 'Thomas Frye Jr.',
 'Joseph Marquez Jr.',
 'Robert Smith Jr.',
 'David Beck Jr.',
 'Ryan Gomez II',
 'Erik Smith Jr.',
 'Omar Thompson Jr.',
 'Leonard Roberts Jr.',
 'Duane Li Jr.',
 'Richard Lucero Jr.',
 'Seth Medina Jr.',
 'Anthony Carlson Jr.',
 'Edward Dudley II',
 'Matthew Lewis Jr.',
 'Christopher Bowers Jr.',
 'Timothy Hughes Jr.',
 'Kevin Hoover IV',
 'David Butler Jr.',
 'Michael Wilson Jr.',
 'George Hess Jr.',
 'Kevin Briggs Jr.',
 'Joseph Matthews III',
 'Dylan Bailey Jr.',
 'Anthony Woods Jr.',
 'Michael Harris Jr.',
 'Daniel Diaz Jr.',
 'Taylor Thompson Jr.',
 'Daniel Robinson Jr.',
 'Ronald Phelps Jr.',
 'Jonathan Reid II',
 'Joshua Smith Jr.',
 'Joseph Herrera III',
 'Tony Robertson II',
 'James Fowler III',
 'William Wright II',
 'Thomas Carrillo II',
 'Matthew Bennett Jr.',
 'Mark Lucas IV',
 'Keith Newman Jr.',
 'Matthew Mitchell III',
 'Colin Schultz II',
 'Terry Scott Jr.',
 'Jason Patel Jr.',
 'Steven Lewis Jr.',
 'Lucas Williams Jr.']